{# templates/emails/registration.html.twig #}
<table style="border-collapse: collapse;" border="1">
        <thead style="background: #ccc;">
            <tr>
                <th style="padding: 20px 50px;">Date</th>
                <th style="padding: 20px 50px;">Time In</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 20px; text-align: center;">
                   <p>{{date}}</p> 
                </td>
                <td style="padding: 20px; text-align: center;">
                    <p>{{time}}</p> 
                </td>
            </tr>
        </tbody>
    </table>